@model List<Inspinia_MVC5.Models.TeleInfo>
@{
    ViewBag.Title = "Danh sách API telegram";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Telegram</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Tele")">Tranh chủ</a>
            </li>
            <li>
                <a>Telegram</a>
            </li>
            <li class="active">
                <strong>Danh sách API telegram</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Danh sách API telegram</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">Config option 1</a>
                            </li>
                            <li>
                                <a href="#">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <a data-toggle="modal" tabindex="9" href="#" class="btn btn-w-m btn-info pull-right" data-target="#mdlThemMoi"><i class="fa fa-plus-circle"></i> Thêm mới</a>
                        </div>
                    </div>

                    <table class="table table-striped table-bordered table-hover" id="dataTables-ds-tele">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Thao tác</th>
                                <th>Số điện thoại</th>
                                <th>Phiên bản blue stacks</th>
                                <th>Api Telegram</th>
                                <th>Ghi chú</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                var i = 0;
                                foreach (var item in Model)
                                {
                                    i = ++i;
                                    <tr>
                                        <td>@i</td>
                                        <td width="80">
                                            <div class="text-center">
                                                <a href="javascript:void(0)" class="viewThis" title="Click để xem chi tiết" data-id="@item.ID"><span><i class="fa fa-1o5x fa-edit text-info"></i></span></a>
                                                @*<a href="javascript:void(0)" class="deleteThis" title="Click để xóa bản ghi này" data-id="@item.id"><i class="fa fa-1o5x fa-trash text-danger"></i></a>*@
                                            </div>
                                        </td>
                                        <td>
                                            @item.SDT
                                        </td>
                                        <td>
                                            @item.VERSION_BLUE_STACKS
                                        </td>
                                        <td>
                                            @item.API_TELE
                                        </td>
                                        <td>@item.GHI_CHU</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="gradeX">
                                    <td colspan="6">Không có dữ liệu</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>Thao tác</th>
                                <th>Số điện thoại</th>
                                <th>Phiên bản blue stacks</th>
                                <th>Api Telegram</th>
                                <th>Ghi chú</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="mdlThemMoi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            @using (Html.BeginForm("Add", "Tele", FormMethod.Post, new { @id = "frmThemMoi" }))
            {
                @Html.AntiForgeryToken()
                HtmlHelper.UnobtrusiveJavaScriptEnabled = false;
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title text-uppercase">Thêm mới thông tin telegram</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Số điện thoại</label>
                        <input type="text" name="SDT" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Phiên bản blue stacks</label>
                        <input type="text" name="VERSION_BLUE_STACKS" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Api Telegram</label>
                        <textarea name="API_TELE" id="" cols="30" rows="7" class="form-control" style="height: 125px"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Ghi chú</label>
                        <textarea name="GHI_CHU" id="" cols="30" rows="7" class="form-control" style="height: 50px"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white pull-right" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-primary pull-right mr-5" type="submit">Lưu</button>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="mdlSua" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight" id="SuaModal">

        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/touchSpinStyles")
    @Styles.Render("~/plugins/jasnyBootstrapStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/touchSpin")
    <script type="text/javascript">

        $(document).on('click',
            '.viewThis',
            function() {
                var id = $(this).data("id");
                $.get("@Url.Action("Edit", "Tele")/" + id,
                    function(data) {
                        $("#SuaModal").html(data);
                    });

                $('#mdlSua').modal('show');
            });

        $(document).on('click', '.deleteThis', function() {
                var id = $(this).data("id");
                if (!confirm("Bạn có chắc chắn muốn xóa bản ghi này?")) {
                    return false;
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Tele")",
                    data: { id: id },
                    success: function() {
                        location.reload();
                    }
                });
        });

        $(document).ready(function() {
            $('#dataTables-ds-tele').DataTable({
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                'language': {
                    'url': '../../Scripts/plugins/dataTables/Vietnamese.json'
                },
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },
                    {
                        extend: 'print',
                        customize: function(win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });
        });

    </script>
}